* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #100e19;

}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main{
  flex: 1;
}

body {
  background: #100e19;
}

a {
  text-decoration: none;
}

.hoverImage {
  transition: transform 0.2s;
  transform-origin: bottom;
}
.hoverImage:hover {
  transform: scale(1.1);
}